<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "popcorn.jpg", alt: "Home Logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "All lists", lists_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "AI Agent", chats_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown" data-controller="dropdown">
            <button type="button" data-action="click->dropdown#toggle" class="avatar border-0 bg-transparent p-0">
              <%= image_tag "https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png", class: "avatar" %>
            </button>
              <ul data-dropdown-target="menu" class="list-unstyled position-absolute bg-white border mt-2 p-2 d-none" style="top: 100%; right: 5px; min-width: 150px; z-index: 1000;">
                <li><%= link_to "My lists", lists_path, class: "dropdown-item" %></li>
                <li><%= link_to "Recommendations", "#", class: "dropdown-item" %></li>
                <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
              </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
