<!-- form -> add classes and css later to fix the form on the bottom -->
<div>
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, label: "Ask for a movie recommendation", required: true %>
    <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>

<!-- info and maybe link to the recommended list-->
<div>
  <p> ➤ The Movies will be added to your Recommendations list  </p>
</div>

<!-- chat -->
<div>
  <% @chat.messages.reverse.each do |message| %>
    <% if message.role == "user" %>
      <p><strong> - My request ( <%= message.created_at %> )</strong></p>
    <% else %>
      <p><strong> - Respond </strong></p>
    <% end %>
    <p> <%= message.content %> </p>
  <% end %>
</div>
